<!doctype html>
<html>
    <head>
        <title>Go Continous test</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <style type="text/css">
            h1, h2 {
                font-weight: bold;
            }
            section.container-fluid.commit {
                background-color: #ecf0f1;
            }
            section.container-fluid.repository {
                background-color: #bdc3c7;
            }
            section.container-fluid.debug {
                background-color: #95a5a6;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Go Continous test</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLightSupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbarLightSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mx-1">
                <a class="nav-link" href="/"><i class="fas d-inline fa-home"></i>&nbsp; Home</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <section class="container-fluid files p-4">
        <div class="container">
            <h2>Files</h2>
            <div class="row">
                <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>File Name</th>
                        <th class="text-right">Lines</th>
                        <th class="text-right">Covered</th>
                        <th class="text-right">Missed</th>
                        <th class="text-right">Percent</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $e := .Files }}
                    <tr>
                        <td>{{ $i }}</td>
                        <td>
                            {{ $e.FullName }}
                            <ul>
                            {{ range .CoverProfiles}}
                                <li>{{ .FileName }}</li>
                            {{ end }}
                            </ul>
                        </td>
                        <td class="text-right">{{ $e.Lines }}</td>
                        <td class="text-right">{{ $e.Statements }}</td>
                        <td class="text-right">0</td>
                        <td class="text-right">0%</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid debug p-4">
        <div class="container">
            <h2>Debug</h2>
            <code>
                {{.}}
            </code>
        </div>
    </section>
    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
